
pentesting/blue_team/applocker.md

pentesting/blue_team/securehostbaseline.md

pentesting/network_pentesting/index2.md

blue_teaming/securehostbaseline.md

blue_team/securehostbaseline.md

2add.md

blue_team/applocker.md
